page-home {
  .drawing-active {
    background: #ffdedb;
  }
  .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
  .topicon{
    font-size: 48px;
  }
  .buttonText{
    // font-weight: bold;
    color: white;
    font-size: 25px;
  }
}
