page-home {
  .drawing-active {
    background: #ffdedb;
  }
  .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
  .topicon{
    font-size: 30px;
  }
  .buttonText{
    font-weight: normal;
    text-transform: none;
    color: white;
    font-size: 25px;
    // margin-left: 5px;
    // margin-right: 5px;
  }
}
