<ion-header>
  <ion-navbar color="danger">
    <ion-buttons left *ngIf="signStarted">
      <button ion-button icon-only class="topicon" (click)="clearPad()">
        <ion-icon name="refresh-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      KD-Sigma v1.1
    </ion-title>

    <ion-buttons right *ngIf="signStarted">
      <button ion-button icon-only class="topicon" (click)="savePad()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!formLoaded" class="title">Tippen Sie, um das Formular zu laden:</div>
  <div *ngIf="formLoaded" class="title">Nun können Sie signieren:</div>
  <ion-row [ngClass]="{'drawing-active': isDrawing}">
    <ion-col></ion-col>
    <ion-col>
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </ion-col>
    <ion-col></ion-col>

  </ion-row>

  <!-- <button ion-button full color="danger" (click)="clearPad()">Clear</button>
  <button ion-button full color="secondary" (click)="savePad()">Save</button> -->

  <!-- <ion-row>
    <ion-col></ion-col>
    <ion-col width-80>
      <img [src]="signature"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row> -->

</ion-content>
