<ion-header>
  <ion-navbar color="danger">
    <ion-buttons left *ngIf="formLoaded">

      <button left ion-button icon-start class="topicon" (click)="clearPad()">
         <ion-icon name="refresh-circle"></ion-icon>
         <span class="buttonText"> Neu laden</span>
      </button>
    </ion-buttons>

    <ion-title *ngIf="formLoaded==0">
      KD-Sigma {{version}}
    </ion-title>

    <ion-buttons right *ngIf="signStarted">
      <button right ion-button icon-end class="topicon" (click)="savePad()">
        <span class="buttonText"> OK</span>
         <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div class="title"> {{infoText}} </div>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>
